{% extends 'main.html' %}

{% block content %}

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">First name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="First name"
                       name="first_name"
                       required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Last name"
                       name="last_name"
                       required>
            </div>
            <div class="col-md-4 mb-3">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       name="email"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="col-md-4 mb-3">
                <label for="Specializations">Specialization:</label>
                <select name="techs" id="Specializations">
                    <option value="B">Backend</option>
                    <option value="F">Frontend</option>
                    <option value="D">Devops</option>
                    <option value="S">System Administration</option>
                    <option value="C">Cloud Engineering</option>
                </select>
            </div>

        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>

    {% if error %}
    <div class="alert alert-danger alert-dismissible fade show col-lg-3" role="alert">
        {{ error }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}

{% endblock %}