{% extends 'main.html' %}

{% block content %}

    <h3>Teacher: {{ teacher.first_name }} {{  teacher.last_name  }}</h3>
    <p>Email {{ teacher.email }} </p>

    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-row">
            <div class="col-md-4 mb-3">
                <label for="validationDefault01">First name</label>
                <input type="text" class="form-control" id="validationDefault01" placeholder="First name"
                       name="first_name" value="{{ teacher.first_name }}"
                       onfocus="if (this.value === '{{ teacher.first_name }}') {this.value = '';}"
                       onblur="if (this.value === '') {this.value = '{{ teacher.first_name }}';}"
                >
            </div>
            <div class="col-md-4 mb-3">
                <label for="validationDefault02">Last name</label>
                <input type="text" class="form-control" id="validationDefault02" placeholder="Last name"
                       name="last_name" value="{{ teacher.last_name }}"
                       onfocus="if (this.value === '{{ teacher.last_name }}') {this.value = '';}"
                       onblur="if (this.value === '') {this.value = '{{ teacher.last_name }}';}"
                >

            </div>
            <div class="col-md-4 mb-3">
                <label for="Specializations">Specialization:</label>
                <select name="techs" id="Specializations">
                    <option value="B">Backend</option>
                    <option value="F">Frontend</option>
                    <option value="D">Devops</option>
                    <option value="S">System Administration</option>
                    <option value="C">Cloud Engineering</option>
                </select>
            </div>

        </div>
        <button class="btn btn-primary" type="submit">Modify</button>
    </form>
{% endblock %}