{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <div class="h-100 d-flex" style="padding-top: 20px;">
            <div>
                <table class="table">
                    <tr class="bg-secondary">
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Tech</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                    <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{ student.first_name }}</td>
                            <td>{{ student.last_name }}</td>
                            <td>{{ student.email }}</td>
                            <td>{{ student.get_lesson_type_display }}</td>
                            <td><a href="#">Edit</a></td>
                            <td><a href="{% url 'students_del' student.id %}">Delete</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
