{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <div class="h-100 d-flex" style="padding-top: 20px;">
            <div>
                <table class="table">
                    <tr class="bg-secondary">
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">Specialization</th>
                        <th scope="col">Availability</th>
                    </tr>
                    <tbody>
                    {% for teacher in teachers %}
                        <tr>
                            <td>{{ teacher.first_name }}</td>
                            <td>{{ teacher.last_name }}</td>
                            <td>{{ teacher.get_specialization_display }}</td>
                            <td>
                                <a href="{% url 'availability' teacher.id %}">Available Times</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}