{% extends 'main.html' %}

{% block content %}

    <div class="container">
        <div class="h-100 d-flex" style="padding-top: 20px;">
            <div>
                <table class="table">
                    <tr class="bg-secondary">
                        <th scope="col">Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Requirements</th>
                        <th scope="col">Select</th>
                    </tr>
                    <tbody>
                    {% for project in projects %}
                        <tr>
                            <td>{{ project.name }}</td>
                            <td>{{ project.description }}</td>
                            <td>{{ project.requirements }}</td>
                            <td>
                                <a href="#">Select</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}